@tailwind base;
@tailwind components;
@tailwind utilities;

.b {
    border:  1px solid red;
}

.DefaultProgressBar__vertical {
    width: 24px;
    height: 100%;
    border:  1px solid red;
 }
 /* range btw min and max  */
 .DefaultProgressBar_progressBar {
    position: absolute;
    
 }
 
 .DefaultProgressBar_progressBar__vertical {
    height: 100%;
    width: 24px;

 }
 
 .DefaultProgressBar_background__vertical {
    height: 100%;
    top: 0px;
    width: 15px;

 }
 
 .DefaultProgressBar_background__horizontal {
    height: 8px;
    top: 0px;

 }
 
 .DefaultHandle_handle {
    width: 1rem;
    height: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: black;
    border-radius: 50%;
    outline: none;
    z-index: 2;
    box-shadow: 0 2px 2px #181616
 }
 
 .DefaultHandle_handle:focus {
    box-shadow: #abc4e8 0 0 1px 1px;

 }
 /* ********  inside circlce ******** */
 .DefaultHandle_handle:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #1f2124;

 }
 
 .DefaultHandle_handle:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #1f2124;

 }
 /* ********  inside circlce end ******** */

 /* ****** circle ***** */
 .DefaultHandle_handle__horizontal {
    margin-left: -12px;
    top: -5px;

 }
 
 .DefaultHandle_handle__horizontal:before {
    top: 7px;
    height: 10px;
    width: 1px;
    left: 10px;
 }
 
 .DefaultHandle_handle__horizontal:after {
    top: 7px;
    height: 10px;
    width: 1px;
    left: 13px;

 }
 
 .DefaultHandle_handle__disabled {
    border-color: #dbdbdb
 }
 
 .DefaultBackground {
    background-color: #353434;
    height: 15px;
    width: 100%;
    border: 1px solid #d8d8d8;
    position: relative;
    
 }
 
 /* full background  */

 .DefaultBackground_background__horizontal {
    height: 10px;
    top: -2px;
    left: -2px;
    bottom: 4px;
    width: 100%;
    border: 1px solid red;

 }
 
 .DefaultBackground_background__vertical {
    width: 15px;
    top: 0px;
    height: 100%
 }
 /* kahi bu add kar yah pe margin de skte he  */
 .rheostat {
    position: relative;
    overflow: visible;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
 }
 @media (min-width: 1128px) {
    .autoAdjustVerticalPosition {
       top: 12px
    }
 }
 
 .rheostat__vertical {
    height: 100%
 }
 
 .handleContainer {
    height: 15px;
    top: -2px;
    left: -2px;
    bottom: 4px;
    width: 100%;
    position: absolute
 }
 
 .rheostat_background {
    background-color: #fcfcfc;
    border: 1px solid #d8d8d8;
    position: relative
 }
 
 .rheostat_background__horizontal {
    height: 15px;
    top: -2px;
    left: -2px;
    bottom: 4px;
    width: 100%
 }
 
 .rheostat_background__vertical {
    width: 15px;
    top: 0px;
    height: 100%
 }